.crew-concert-role-icon{
  background-color: rgba(0,0,0,0.2);
  padding: 6px;
  font-size: 7px;
  border-radius: 10px;
  color: white;

}

.timetablehours{
  border-right: solid 1px black;

}

.timetablehours p {
  color: black;

}

.timetableinfos{
  width: 100%;

}

.timetableinfos p{
  color: black;

}

.timetable-entry:nth-child(odd) {
  background-color: rgb(217, 217, 217);
  color: black;
}

.timetable-entry:nth-child(even) {
  background-color: rgb(240, 240, 240);
  color: black;
}

.open-plus-icon-timetable {
    background-color: #C42173;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.open-plus-icon-userhotel{
  background-color: #C42173;
  padding: 5px;
  font-size: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 7px;
}

.open-plus-icon-timetable:hover {
  background-color: #c4217375;
  color: white;
}

.open-plus-icon-userhotel:hover {
  background-color: #c4217380;
  color: white;
}

.modal-new-timetable {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-timetable-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 15px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.from-to {
  width: 65px;
}

.close-contert-modal{
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;

}

.close-contert-modal:hover{

  color: rgba(255, 255, 255, 0.437);

}

.hotels-infos  {

  border-right: solid 1px rgba(255, 255, 255, 0.493);
  // padding-top: 10px;
  // padding-bottom: 10px;
  width: 247px;

}

.hotels-infos  p {
  font-size: 13px;

}

.modal-two{

  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-two-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 15px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.close-modal-two{
  position: absolute;
  top: 8px;
  right: 15px;
}

.close-modal-two:hover{
opacity: 0.5;
}

.add-new-hotel {

  padding-top: 10px;
}

.modal-new-hotel{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-hotel-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 15px;
  color: white;
  // border: 1px solid #888;
  width: 1000px;
  max-width: 1600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.close-modal-new-hotel{
  position: absolute;
  top: 8px;
  right: 15px;
}

.close-modal-new-hotel:hover{
opacity: 0.5;
}

.listtoggletimetable {
  max-height: 400px; /* Maximum height */
  overflow-y: scroll;
  /* Hide scrollbar by default */
  scrollbar-color: #999 #333;

  /* Show scrollbar when hovering over the div */
  transition: scrollbar-color 0.5s;


}

.avatar-hotel {
  margin-bottom: 16px;
}

.user-picture-delete {
  padding-bottom: 15px;
}

.user-picture-delete:hover .remove-button {
  opacity: 1;
}

.remove-button {
  position: relative;
  top: 28px;
  left: 15px;
  font-size: 11px;
  opacity: 0;
}

.open-plus-icon:hover {
  color: white;
}

.remove-timetable-entry a {

  display: flex;
  align-items: center;

}

.remove-timetable-entry  {
  opacity: 0;
  display: flex;
  align-items: center;

}

.timetable-entry:hover .remove-timetable-entry {
  opacity: 1;
  transition: 0.4;
}

.contacts-concert p{
  font-size: 13px
}

.contacts-concert a{
  color: white;



}

.contacts-concert a:hover{
  text-decoration: underline;
}

.contacts-concert {
  border-bottom: solid 1px rgba(255, 255, 255, 0.493);
  padding-bottom: 10px;
  padding-top: 10px;




}

.modal-new-contact {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-contact-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.contacts-box{
  min-height: 111px;
  max-height: 294px;
  height: 100%;

}

.listtogglecontact {
  max-height: 163px; /* Maximum height */
  overflow-y: scroll;
  /* Hide scrollbar by default */
  scrollbar-color: #999 #333;

  /* Show scrollbar when hovering over the div */
  transition: scrollbar-color 0.5s;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  padding: 10px;


}

.modal-new-guest {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-guest-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.modal-venue-attachments{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-venue-attachments-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.modal-venue-attachments-content a {
  text-decoration: underline;
  color: white;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
}

.modal-venue-attachments-content a:hover {

  font-weight: 500;

}

.modal-checklist-templates{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-checklist-templates-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.listtogglecheckboxes {
  border: solid 1px rgba(255, 255, 255, 0.543);
  padding: 15px;
  border-radius: 5px;
  max-height: 125px;
  overflow-y: scroll;
  scrollbar-color: #999 #333;
  transition: scrollbar-color 0.5s;
}

.modal-new-transport{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-transport-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  width: 419px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.transport-slot {
  border: rgb(134, 134, 134)  1px solid;
  border-radius: 8px;
  padding: 10px;
  padding-left: 20px;
  background: rgba(35,41,49,0.5);
  box-shadow: 0 0 15px rgba(163, 163, 163, 0.1);
}

.transport-slot p {
  font-size: 12px;
}

.transport-slot a {
  font-size: 8px;
}

.modal-new-transport-user{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-transport-user-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  width: 419px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.emoji-round-white {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(163, 163, 163, 0.3);
}

.modal-new-transport-attachments{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-transport-attachments-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  width: 800px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.transport-infos {
  width: 175px;
}

.modal-new-transport-notes{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.8s;
}

.modal-new-transport-notes-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  color: white;
  width: 800px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.transports-emoji-links a{
  font-size: 15px;
}

.attachment-file{
  background-color: #2f3236;
  margin: 0px;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 30px;
  font-size: 10px;
}

.attachment-file:hover{
 opacity: 0.7;
}

.attachment-file a:hover{

  color: white;


}

.concert-note .open-plus-icon{
  display:none;
}

.concert-note:hover .open-plus-icon{
  transition: 0.5s;
  display:block;
}

.transport-slot:hover .open-plus-icon {
  transition: 0.5s;
  display:block;
}

.transport-slot .open-plus-icon {
  display:none;
}

.contacts-concert .open-plus-icon {
  display:none;
}

.contacts-concert:hover .open-plus-icon {
  transition: display 0.5s;
  display:block;
}

.checklist-item .open-plus-icon {
  display:none;
}

.checklist-item:hover .open-plus-icon {
  transition: display 0.5s;
  display:block;
}

#hotel-space .user-hotel-list-new a {
  font-size: 8px;

}

.hotels-infos .transports-emoji-links {
  display: none;
}

.hotels-infos:hover .transports-emoji-links {
  display: block;
}


.listtogglehotels {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-color: #999 #333;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  padding: 10px;
  transition: scrollbar-color 0.5s;
}
