.remove-user-form {
  display: inline; /* Set the form to display inline */
  margin-right: 10px; /* Add some spacing between forms */
  /* Add any other styling you need for the form */
}

.remove-user-btn {
  color: red;
}
