<div class="navbar navbar-expand-sm  navbar-lewagon ">
  <div class="simpler-tour-home">
   <div class="simpler-tour-home-link"><strong>SIMPLER TOUR</strong></div>
  </div>
  <div class="navbar-navigation-container">
    <div class="simpler-tour-menu-links">
      <span>MY TOURS</span>
      <span>ABOUT US</span>
      <span>FAQ</span>
    </div>
    <div class="simpler-tour-navbar-end">
      <span class="button-green">LOG IN</span>
    </div>
  </div>

</div>
