      <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div><div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
            <div class="d-flex">
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
              <li><div class="dashboard-month-day"></div></li>
            </div>
