
<%# <h2>CREW</h2> %>
  <%#= link_to "Edit Crew", crew_path(@crew) %>

        <%# @crew_users.each do |member| %>
          <%#= member.first_name %>  <%#= member.user_role_in_team(@crew, member)%>
         <%# end %>





<%# <div class="container"> %>
      <%# <h2>Concerts:</h2> %>
      <%# <ul> %>
        <%# @concerts.each_with_index do |concert| %>
         <%#= concert.date.strftime("%B %e, %Y") %>  <%#= concert.location %>  <%#= link_to "Link", tour_concert_path(concert) %>
        <%# end %>

      <%# </ul> %>



    <%# </div> %>



  <%# if policy(@tour).edit? %>
    <%#= link_to "Edit this tour", edit_tour_path(@tour) %>
  <%# end %>
  <%= button_to "Destroy this tour", @tour, method: :delete if policy(@tour).destroy?%>
