<div class="body-container">
  <div class="homepage-elements">
    <div class="homepage-speech">
      <div class="mb-4">
        <h1>SIMPLER TOUR</h1>
        <h2>A NEW WAY TO HIT THE ROAD</h2>
      </div>
      <p>A web tool designed to help you <strong>create</strong> and <strong>manage</strong> your tour,  a meeting point to communicate with your crew. </p>
    </div>
    <div data-controller="home">
      <div id="myModal" class="modal" data-home-target="modal">
        <div class="modal-content">
          <!-- Modal content goes here -->
          <span class="close" data-action="click->home#closeModal"><i class="fas fa-times black-icon"></i></span>
          <div class="text-center mb-3">
            <h2>SELECT YOUR ROLE</h2>
          </div>

          <div class="d-flex justify-content-around mb-3">
            <div>
              <%= link_to "SIGN IN AS A TOUR MANAGER", new_tourman_registration_path, class: "button-green" %>
            </div>
            <div>
              <%= link_to "SIGN IN AS A CREW MEMBER", new_user_registration_path, class: "button-green" %>
            </div>
          </div>

        </div>
      </div>
      <% if !tourman_signed_in?  && !user_signed_in?%>
        <div>
          <a href="#" class="button-green" data-action="click->home#openModal">CREATE ACCOUNT</a>
        </div>
      <% end %>
    </div>
  </div>





</div>
