<div class="body-container">
  <div class="homepage-elements">
    <div class="homepage-speech">
      <div class="mb-4">
        <h1>SIMPLER TOUR</h1>
        <h2>A NEW WAY TO HIT THE ROAD</h2>
      </div>
      <p>A web tool designed to help you <strong>create</strong> and <strong>manage</strong> your tour,  a meeting point to communicate with your crew. </p>
    </div>
    <div>
      <span class="button-green">CREATE ACCOUNT</span>
    </div>
  </div>
</div>
