<div class="modal-new-hotel" data-concert-target="modalthree">
  <div class="modal-new-hotel-content">
    <span class="close-modal-new-hotel" data-action="click->concert#closeModalThree"><i class="fas fa-times black-icon"></i></span>
    <div class="add-new-hotel mt-3">
      <div class="d-flex justify-content-between">
        <div class="col-5">
          <div class="text-center mb-3"><p class="m-0">CREATE NEW HOTEL</p></div>
          <%= render partial: 'new_hotel_form', locals: { hotel: @hotel, concert: @concert, tour: @tour} %>
        </div>
        <div class="col-5">
          <div class="text-center mb-3"><p class="m-0">SEARCH EXISTING HOTEL IN DB</p></div>
          <div class="d-flex mt-3 justify-content-start align-items-center">
            <%= form_tag tour_concert_concert_hotels_path(@tour, @concert), method: :post do %>
              <div class="d-flex align-items-center">
                <div class="me-3"> <%= select_tag :hotel_id, options_for_select(Hotel.where(tourman_id: current_tourman.id).all.map { |h| [h.name, h.id] }), class:"form-input p-1", prompt: "Search in DB" %> </div>
                <div><%= submit_tag "ADD HOTEL", class:"button-green" %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
