<div class="col-12 container-white mb-2">
  <h2>TRANSPORTS</h2>
  <% if !@concert.transports.present? %>
    <p>No transports added yet</p>
  <% else %>
    <% @concert.transports.each_with_index do |transport, index|%>
      <%= render partial: 'transport_ride', locals: { tour: @tour, concert: @concert, transport: transport, index: index } %>
    <% end %>
  <% end %>

  <div class="text-center mt-3">
    <a href="#" data-action="click->concert#openModalTransport" class="button-plus" ><strong>+</strong></a>
  </div>

  <div class="modal-new-transport" data-concert-target="modaltransport">
    <div class="modal-new-transport-content">
      <%= render partial: 'transport_form', locals: { tour: @tour, concert: @concert, transport: @transport } %>
    </div>
  </div>
</div>
