
<span class="close-contert-modal " data-action="click->concert#closeModalVenueAttachments"><i class="fas fa-times black-icon"></i></span>
<% @concert.venue.files.each do |file| %>
  <p class="list-unstyled attachment-file mb-2"><%= link_to file.filename, rails_blob_path(file, disposition: 'attachment'), target: '_blank' %></p>
<% end %>
