
<span class="close-contert-modal " data-action="click->concert#closeModalVenueAttachments"><i class="fas fa-times black-icon"></i></span>
<% @concert.venue.files.each do |file| %>
  <li class="list-unstyled"><%= link_to file.filename, rails_blob_path(file, disposition: 'attachment'), target: '_blank' %></li>
<% end %>
