.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  // border: 1px solid #C42121;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-big {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar-delete:hover .delete-icon-avatar{
  display: block;
}

.avatar-delete {
  position: relative;

}

.delete-icon-avatar{
  position: absolute;
  top: -13px;
  left: 32px;
  display: none;
}


.avatar-title:hover::before {
  content: attr(title); /* Display the title attribute as content */
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  color: white;
  padding: 5px;
  border-radius: px;
  z-index: 1;
  /* You can adjust the position as per your requirements */
  top: -30px; /* Adjust to move the tooltip up */
  left: 0;
  transform: translateX(-50%);

}
