.button-green{
  background-color: #C42173;
  color: white;
  padding: 7px 22px;
  border-radius: 10px;
  font-size: 10px;
  border: none  !important;
}

.button-green:hover {
  background-color: #cc4e8d8b;
  transition: 0.4s;
  color: white;
}

.white-icon {
  color: white;
}

.button-delete{
  background-color: #C42173;
  color: white;
  padding: 4px 6px;
  border-radius: 56%;
  font-size: 7px;
  border: none  !important;
}

.button-delete:hover {
  background-color: #cc4e8d8b;
  opacity: 0.4;
  transition: 0.2s;
  color: white;
}
