.button-green{
  background-color: #4ECCA3;
  color: white;
  padding: 7px 22px;
  border-radius: 10px;
  font-size: 10px;
}

.button-green:hover {
  background-color: #40a885;
  transition: 0.4s;
  color: white;
}

.white-icon {
  color: white;
}
