.navbar-lewagon-logged-out {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* Center horizontally */
  // border-radius: 15px;
  // margin-top: 40px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: white;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}

.navbar-lewagon-logged-in {
  padding: 20px;
  background: rgba(255, 255, 255, 0);

  // width: 20%;
  height: 60px;
  position: fixed;
  margin-top: 8px;
  z-index: 888;
  top: 8px;

  right: 0;
  margin: 0 auto; /* Center horizontally */
  // border-radius: 15px;
  // margin-top: 40px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: white;
  // backdrop-filter: blur(5px); /* Apply the blur effect */
  // -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */

}


.simpler-tour-home {
  padding: 0px 30px;
  // border-right: solid rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image horizontally */
  width: 200px; /* Ensure it takes the full width available */
  height: auto; /* Adjust this if you want a specific height */
}

.fit-image {
  max-width: 100%; /* Ensure the image does not exceed the width of the div */
  height: auto; /* Maintain the aspect ratio */
  /* Optional: Set a specific height if you need */
  /* height: 80px; Uncomment this line to set a specific height */
}
.simpler-tour-home-link {
  width: 112px;
}

.simpler-tour-home-link a {
  color: white;
}

.simpler-tour-home-link a:hover {
  color: white;
}

.simpler-tour-home-link a:visited {
  color: white;
}

.simpler-tour-menu-links {
  padding: 0px 30px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  align-items: center;
}

.simpler-tour-dropdown-menu {
  display: none;
}

.simpler-tour-menu-links a:hover {

  transition: 0.4s;
  color: white;
  opacity: 0.7;
}

.navbar-navigation-container {
  display: flex;
  justify-content: space-between;
  // width: 100%;
}

/* Dropdown styles for smaller screens */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 998;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
  margin-top: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  opacity: 0.7;
}

/* Show the dropdown menu when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

.simpler-tour-dropdown-menu {
  display: none;
}

.modal-navbar-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 15px;
  color: white;
  // border: 1px solid #888;
  width: 420px;
  height: 90px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.8s;
  text-align: center;
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */


}

.welcome-navbar p {
  font-size: 14px;

}

.dropdown-content-picture {
  display: none;
  position: absolute;
  z-index: 1;
  top: 68px;
  right: 14px;
}

.dropdown-content-picture a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}


.dropdown-content-picture a:hover {
  background-color: #ddd;
}


.dropdown-content-picture.show {
  display: block;
}

@media screen and (max-width: 480px) {

  .hello-user  {
    display: none !important;
  }

  .modal-navbar-content {
    margin: 60% auto;
    width: 200px;
    max-width: 200px;
    text-align: center;
    h2 {
      font-size: 20px;
    }
  }
}
